.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

.iconAndAvatar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
